#header {
  display: none; }
  #header .dropdown-content {
    display: none;
    background-color: #bd5d38;
    margin-top: 2%;
    text-align: center; }
    #header .dropdown-content a {
      color: rgba(255, 255, 255, 0.5); }
  #header .show {
    display: block; }
    #header .show a {
      display: block;
      text-decoration: none;
      line-height: 2.2; }

#user {
  position: fixed;
  height: 100vh;
  width: 20%;
  float: left;
  background-color: #bd5d38;
  display: flex;
  align-items: center; }
  #user .container-user {
    width: 70%;
    margin: 0 auto; }
    #user .container-user .img-content {
      text-align: center;
      padding: 10px; }
      #user .container-user .img-content img {
        width: 92%;
        border-radius: 100%;
        border: 2px solid rgba(255, 255, 255, 0.2); }
    #user .container-user h3 {
      text-align: center; }
      #user .container-user h3 :hover {
        color: white; }
      #user .container-user h3 a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5); }

#sobremi {
  margin-left: 20%; }
  #sobremi .contenidob {
    padding: 13% 5% 10% 5%;
    border-bottom: 1px solid #868e96; }
    #sobremi .contenidob a {
      color: #bd5d38;
      text-decoration: none; }
      #sobremi .contenidob a :hover {
        color: black; }
    #sobremi .contenidob h1 {
      font-family: 'Saira Extra Condensed',serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 5.5em;
      margin-bottom: 0;
      line-height: 1;
      margin-top: 0;
      color: #343a40; }
    #sobremi .contenidob .p1 {
      font-family: 'Saira Extra Condensed',serif;
      color: #868e96;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.35rem; }
    #sobremi .contenidob p {
      font-family: 'Saira Extra Condensed',serif;
      color: #868e96;
      font-size: 1.4rem;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 7%; }
    #sobremi .contenidob span {
      color: #bd5d38; }
    #sobremi .contenidob ul {
      padding: 0; }
      #sobremi .contenidob ul li {
        display: inline-block;
        margin: 0 10px; }

.contenidob a:hover {
  color: #343a40; }

.contenidob ul li a i:hover {
  padding: 0;
  color: #343a40; }

#experiencia {
  margin-left: 20%; }
  #experiencia .contenido_experiencia {
    padding: 10% 3%;
    border-bottom: 1px solid #868e96; }
    #experiencia .contenido_experiencia h2 {
      font-family: 'Saira Extra Condensed',serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 4em;
      color: #343a40;
      margin: 1% auto; }
    #experiencia .contenido_experiencia p {
      display: inline-block;
      margin: 1% auto; }
    #experiencia .contenido_experiencia .exp1 {
      font-family: 'Saira Extra Condensed',serif;
      text-transform: uppercase;
      font-size: 1.5em;
      color: #343a40;
      width: 100%; }
      #experiencia .contenido_experiencia .exp1 span {
        float: right;
        color: #bd5d38; }

#educacion {
  margin-left: 20%; }
  #educacion .contenido_educacion {
    padding: 10% 3%;
    border-bottom: 1px solid #868e96; }
    #educacion .contenido_educacion h2 {
      font-family: 'Saira Extra Condensed',serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 4em;
      color: #343a40;
      margin: 1% auto; }
    #educacion .contenido_educacion .exp1 {
      font-family: 'Saira Extra Condensed',serif;
      text-transform: uppercase;
      font-size: 1.5em;
      color: #343a40;
      line-height: 1.3; }
      #educacion .contenido_educacion .exp1 span {
        float: right;
        color: #bd5d38; }
    #educacion .contenido_educacion .ex {
      font-size: 1.4em;
      font-style: italic;
      margin-left: 1em; }

#habilidades {
  margin-left: 20%; }
  #habilidades .contenido_habilidades {
    padding: 10% 3%; }
    #habilidades .contenido_habilidades h2 {
      font-family: 'Saira Extra Condensed',serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 4em;
      color: #343a40;
      margin: 1% auto; }
    #habilidades .contenido_habilidades p {
      font-family: 'Saira Extra Condensed',serif;
      color: #868e96;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.35rem; }
    #habilidades .contenido_habilidades ul {
      padding: 0; }
      #habilidades .contenido_habilidades ul li {
        display: inline-block;
        font-size: 2.5rem;
        margin-right: 2%;
        color: #868e96; }
        #habilidades .contenido_habilidades ul li :hover {
          color: #bd5d38; }

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5; }

hr {
  margin-left: 20%;
  border: 1px solid #343a40;
  opacity: 0.2; }

.container {
  width: 80%;
  margin: 0 auto; }

@media screen and (max-width: 950px) {
  #header {
    display: block;
    color: white;
    overflow: hidden;
    background-color: #bd5d38;
    position: fixed;
    top: 0;
    width: 100%; }
    #header h2 {
      margin: 0;
      padding: 1.2% 3%;
      font-size: 1.25em; }
      #header h2 i {
        margin-right: 10px; }
      #header h2 .icono_header2 {
        float: right;
        cursor: pointer;
        color: white; }

  #user {
    display: none; }

  #sobremi {
    margin-top: 7.4%;
    margin-left: 0;
    width: 100%; }
    #sobremi .contenidob {
      position: initial;
      margin: initial; }

  #experiencia {
    margin-left: 0; }

  #educacion {
    margin-left: 0; }

  #habilidades {
    margin-left: 0; } }

/*# sourceMappingURL=estilos.css.map */
