html {
  width: 100%;
  height: 100%
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: 868e96;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}

#header{
  display: none;
}

#user{
  position: fixed;
  height: 100vh;
  width: 20%;
  float: left;
  background-color: #bd5d38;
  display: flex;
  align-items: center;
}

#user  h3{
  text-align: center
}

#user a{
  text-decoration: none;
  color: rgba(255,255,255,.5);
}

#user a:hover{
  color: #fff;
}

#content{
  margin-left: 20%;
  float: left;
  height: auto;
  width: 80%;
}

.dropdown-content{
  display: none;
  background-color: rgba(189, 93, 56, 1);
  margin-top: 2%;
  text-align: center;
}

.dropdown-content a {
  color: rgba(255,255,255,.5);
}

.show{
  display: block;
}

.show a {
  display: block;
  text-decoration: none;
  line-height: 2.2;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.container-user{
  width: 70%;
  margin: 0 auto;
}

.contenidob ul li{
  display: inline-block;
  margin: 0 10px;
}

.contenidob ul{
  padding: 0;
}

.contenidob ul li a i:hover{
  padding: 0;
  color: #343a40;
}

.img-content{
  text-align: center;
  padding: 10px;
}

.img-content img{
  width: 92%;
  border-radius: 100%;
  border: 2px solid rgba(255,255,255,.2);
}

.contenido1{
  position: relative;
  height: 100%;
}

/*Prueba font*/

.contenidob{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20% 10%;
}

.contenidob h1{
  font-family: 'Saira Extra Condensed',serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5.5em;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 0;
  color: #343a40;
}

.contenidob .p1 {
  font-family: 'Saira Extra Condensed',serif;
  color: #868e96;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.35rem;
}


.contenidob p {
  margin-top: 0;
  margin-bottom: 10%
}

.contenidob span {
  color: #bd5d38;
}

.contenidob a{
  color: #bd5d38;
  text-decoration: none;
}


@media screen and (max-width: 950px){
  #user{
    display: none;
  }
  #content{
    margin-top: 7.4%;
    margin-left: 0;
    width: 100%;

  }
  .contenido1{
    margin: 5% 3%;
    position: initial;
  }
  .contenidob{
    position: initial;
    margin: initial;
  }

  #header{
    display: block;
    color: white;
    overflow: hidden;
    background-color: #bd5d38;;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #header h2{
    margin: 0;
    padding: 1.5% 3%;
  }
  .icono_header{
    margin-right: 10px;
  }
  .icono_header2{
    float: right;
    cursor: pointer;
    color: white;
  }
}
