#educacion{
    margin-left: 20%;
    .contenido_educacion{
        padding: 10% 3%;
        h2{
          font-family: 'Saira Extra Condensed',serif;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 4em;
          color: #343a40;
          margin: 1% auto;
        }
        .exp1{
            font-family: 'Saira Extra Condensed',serif;
            text-transform: uppercase;
            font-size: 1.5em;
            color: #343a40;
            line-height: 1.3;
            span{
              float: right;
              color: #bd5d38;
            }
          }
          .ex{
            font-size: 1.4em;
            font-style: italic;
            margin-left: 1em;
          }

    }
}
