#header{
    display: none;
    .dropdown-content{
            display: none;
            background-color: rgba(189, 93, 56, 1);
            margin-top: 2%;
            text-align: center;
            a {
              color: rgba(255,255,255,.5);
            }
          }
    .show{
            display: block;
            a {
              display: block;
              text-decoration: none;
              line-height: 2.2;
            }
          }
        }
