#educacion{
  margin-left: 20%
}

.contenido_educacion{
  padding: 10% 3%;
}

.contenido_educacion h2{
  font-family: 'Saira Extra Condensed',serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 4em;
  color: #343a40;
  margin: 1% auto;
}
