body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: 868e96;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}

#user{
  height: 100%;
  width: 20%;
  float: left;
  background-color: #bd5d38;
  display: flex;
  align-items: center;
}

#user  h3{
  text-align: center
}

#user a{
  text-decoration: none;
  color: rgba(255,255,255,.5);
}

#user a:hover{
  color: #fff;
}

#content{
  float: left;
  height: 100%;
  width: 80%;
}

.main{
  overflow: hidden;
  width: 100%;
  height: 100%
}

.container{
  width: 80%;
  margin: 0 auto;
}

.img-content{
  margin: auto 10px;
  padding: 10px;
}

.img-content img{
  width: 92%;
  border-radius: 100%;
  border: 5px solid rgba(255,255,255,.2);
}
